# Ignore Gradle files
.gradle
gradle-wrapper.jar
.gradle/

# Ignore Android files
local.properties
.idea/
*.iml
.DS_Store
build/
output/
gen/
*.apk
*.ap_

# Ignore IDE
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Ignore OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
